PORT=3000
QDRANT_URL=http://host.docker.internal:6333
OLLAMA_URL=http://host.docker.internal:11434
ORIGIN_URL=http://localhost:5173
SYSTEM_PROMPT='Extract food receipt includes the food items, prices, currency, store name or location, do not add unrelevant data, and date the receipt was taken. Output ONLY valid JSON in this format: { \"store\": \"\", \"currency\": \"\", \"date\": \"YYYY-MM-DDTHH:mm:ss\", \"items\": [{\"name\": \"\", \"price\": 0.0}] }. For example : {"store":"143 DOTY CIRCLE","currency":"USD","date":"2023-06-09T13:30:15","items":[{"name":"1 SODA","price":2.5},{"name":"1 LEMONADE, ICED","price":2.5},{"name":"1 ROAST CHICKEN","price":4.75},{"name":"1 ROOT BEER","price":3.5},{"name":"1 TEA BREWED ICE COLD","price":1.25},{"name":"1 PEPSI, ICED","price":1.75}]}'
